<div class="header-labels-container">
  <div class="header-label Pending">
    Pending
    <div class="header-label-count">{{pendingCount}}</div>
  </div>

  <div class="header-label InProgress">
    Running
    <div class="header-label-count">{{runningCount}}</div>
  </div>

  <div class="header-label Completed">
    Completed
    <div class="header-label-count">{{completedCount}}</div>
  </div>

  <div class="header-label Failed">
    Failed
    <div class="header-label-count">{{failedCount}}</div>
  </div>
</div>

<div class="handle-controls">
  <div class="show-items-wrapper">
    <label>show:</label>
    <select (change)="showListItems($event)">
      <option value="all">all</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
  <div class="search-wrapper">
    <label>search:</label>
    <input type="text" [(ngModel)]="search" (input)="searchData()"/>
  </div>


</div>

<table class="fullwidth">
  <tr>
    <th>name</th>
    <th>status</th>
    <th>created</th>
    <th>expires</th>
    <th>storage location</th>
    <th>selector</th>
  </tr>
  <tr *ngFor="let backup of backupsData; index as i;">
    <td *ngIf="i < limit && !backup.hide"><a routerLink="/backups/backup/{{backup.name}}">{{backup.name}}</a></td>
    <td *ngIf="i < limit && !backup.hide">
      <a routerLink="/backups/backup/{{backup.name}}">
        <span class="label {{backup.status}}">
          {{backup.status}}
        </span>
      </a>
    </td>
    <td *ngIf="i < limit && !backup.hide"><a routerLink="/backups/backup/{{backup.name}}">{{backup.created}}</a></td>
    <td *ngIf="i < limit && !backup.hide"><a routerLink="/backups/backup/{{backup.name}}">{{backup.expires}}</a></td>
    <td *ngIf="i < limit && !backup.hide"><a routerLink="/backups/backup/{{backup.name}}">{{backup.location}}</a></td>
    <td *ngIf="i < limit && !backup.hide"><a routerLink="/backups/backup/{{backup.name}}">{{backup.selector}}</a></td>
  </tr>
</table>

