.completed-label {
  display: inline-block;
  padding: 5px 20px;
  background: #1D9405;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.handle-controls {
  padding: 20px 10px;
  font-size: 0;
}

.handle-controls label {
  font-size: 16px;
  display: block;
}

.show-items-wrapper, .search-wrapper {
  display: inline-block;
  width: 50%;
}
