.header-labels-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header-label {
  width: 21%;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.header-label-count {
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0 -20px;
  top: 43px;
  padding: 10px 20px;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.1);
}
