<div class="handle-controls">
  <div class="show-items-wrapper">
    <label>show:</label>
    <select (change)="showListItems($event)">
      <option value="all">all</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
  <div class="search-wrapper">
    <label>search:</label>
    <input type="text" [(ngModel)]="search" (input)="searchData()"/>
  </div>


</div>

<table class="fullwidth">
  <tr>
    <th>name</th>
    <th>status</th>
    <th>created</th>
    <th>schedule</th>
    <th>backup ttl</th>
    <th>last backup</th>
    <th>selector</th>
  </tr>
  <tr *ngFor="let schedule of schedulesList; index as i;">
    <td *ngIf="i < limit && !schedule.hide"><a routerLink="/schedules/schedule/{{schedule.name}}">{{schedule.name}}</a></td>
    <td *ngIf="i < limit && !schedule.hide">
      <a routerLink="/schedules/schedule/{{schedule.name}}">
        <span class="label {{schedule.status}}">
          {{schedule.status}}
        </span>
      </a>
    </td>
    <td *ngIf="i < limit && !schedule.hide"><a routerLink="/schedules/schedule/{{schedule.name}}">{{schedule.created}}</a></td>
    <td *ngIf="i < limit && !schedule.hide"><a routerLink="/schedules/schedule/{{schedule.name}}">{{schedule.schedule}}</a></td>
    <td *ngIf="i < limit && !schedule.hide"><a routerLink="/schedules/schedule/{{schedule.name}}">{{schedule.ttl}}</a></td>
    <td *ngIf="i < limit && !schedule.hide"><a routerLink="/schedules/schedule/{{schedule.name}}">{{schedule.lastBackup}}</a></td>
    <td *ngIf="i < limit && !schedule.hide"><a routerLink="/schedules/schedule/{{schedule.name}}">{{schedule.selector}}</a></td>
  </tr>
</table>
