/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

body {
  color: #333333;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

table {
  border-collapse: collapse;
}

table.fullwidth {
  width: 99.9%;
}

table th, table td {
  padding: 10px;
}

table th {
  color: #fff;
  font-weight: bold;
  background: #333333;
  text-transform: capitalize;
  text-align: left;
}

table td {
  border: 1px solid #ccc;
}

input, select {
  min-width: 100px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

select {
  -webkit-appearance: none;
  background: transparent;
  position: relative;
}

select:after {
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #333;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

table a {
  color: #333;
  text-decoration: none;
}

.label {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.handle-controls {
  padding: 20px 10px;
  font-size: 0;
}

.handle-controls label {
  font-size: 16px;
  display: block;
}

.show-items-wrapper, .search-wrapper {
  display: inline-block;
  width: 50%;
}

.Completed, .Enabled {
  background: #1D9405;
}

.Failed {
  background: #943438;
}

.Pending {
  background: #2992FF;
}

.InProgress {
  background: #ffa535;
}

